# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Generated
.metadata
pubspec.lock

# Android
android/.gradle/
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
